nifi/config/Debezium.json
{"flowContents":{"identifier":"0abcda57-20f2-38fd-83db-90a6266cffce","instanceIdentifier":"0907bbe9-0198-1000-d5b0-04e490394e67","name":"Debezium","comments":"","position":{"x":808.0,"y":96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"88d79783-e4fb-333c-8d44-bea7cda78bcb","instanceIdentifier":"0deb1ca6-0198-1000-26f3-a0a9e9247834","name":"PutDatabaseRecord","comments":"","position":{"x":1016.0,"y":872.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"dbo","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":"kidok","put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"f4e8b030-ae05-3c45-987c-b9f7f7a0d996","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"Use statement.type Attribute","db-type":"MS SQL 2012+","put-db-record-update-keys":"user_id","put-db-record-quoted-identifiers":"false","put-db-record-table-name":"users_sink2","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"af355a9c-0555-3201-9dbe-99e20417d7fb","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"92d9631f-1dcf-3506-9b38-925215e4b3ed","instanceIdentifier":"090a2ef1-0198-1000-0a6b-fc9c0e670efe","name":"ConsumeKafka_2_6","comments":"","position":{"x":648.0,"y":0.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"27","bootstrap.servers":"kafka:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"kidok.kidok.dbo.users","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"665be549-d6bb-3845-b96c-29fca4295507","instanceIdentifier":"0df859ef-0198-1000-9380-a928e81349e5","name":"JoltTransformJSON","comments":"","position":{"x":992.0,"y":24.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"{\n  \n    \"operation\": \"shift\",\n    \"payload\": {\n     \"after\": {\n       \"*\": \"&\"\n     },\n      \"op\" : \"&\"\n    }   \n }\n  ","jolt-transform":"jolt-transform-shift","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"8700766a-a18d-3f6e-8d7b-d02e35ea893c","instanceIdentifier":"132fde01-0198-1000-4491-2b759ed3a9b2","name":"EvaluateJsonPath","comments":"","position":{"x":1016.0,"y":216.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","op":"$.op","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"op":{"name":"op","displayName":"op","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"06f09bdd-bfe2-3861-8883-b4613969b6ed","instanceIdentifier":"1345cc72-0198-1000-351e-fd43c042e27e","name":"JoltTransformJSON","comments":"","position":{"x":967.6489217950037,"y":618.4525086329737},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n    \t\"op\": \"\"\n    }\n}\n ]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"640843a8-a212-39df-b4cb-e91b6370d8ed","instanceIdentifier":"0ddd9c5a-0198-1000-80de-428eea324928","name":"CalculateRecordStats","comments":"","position":{"x":574.0,"y":380.0},"type":"org.apache.nifi.processors.standard.CalculateRecordStats","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-stats-limit":"10","record-stats-reader":"af355a9c-0555-3201-9dbe-99e20417d7fb"},"propertyDescriptors":{"record-stats-limit":{"name":"record-stats-limit","displayName":"record-stats-limit","identifiesControllerService":false,"sensitive":false},"record-stats-reader":{"name":"record-stats-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"a5623065-9c30-39f5-a824-0fef838402a3","instanceIdentifier":"1874f6ac-0198-1000-6c7f-7de0f85202b5","name":"UpdateRecord","comments":"","position":{"x":1640.0,"y":784.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/created_at_d":"${created_at.value:format(\"yyyy-MM-dd HH:mm:ss.SSS\",\"UNIX_MS\")}${field.value:format(\"yyyy-MM-dd HH:mm:ss.SSS\",\"UNIX_MS\")}","record-writer":"7d85e2d5-04cb-3bad-9880-d15013ea83df","record-reader":"af355a9c-0555-3201-9dbe-99e20417d7fb","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/created_at_d":{"name":"/created_at_d","displayName":"/created_at_d","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"790c783e-d170-3fc5-b4a2-b7bf0f2761a4","instanceIdentifier":"1d70c6fa-0198-1000-7b97-93e8658e428c","name":"GenerateFlowFile","comments":"","position":{"x":1683.4141138251946,"y":229.09149922848047},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"241B","mime-type":"application/json","generate-ff-custom-text":"[ {\n  \"user_id\" : 28,\n  \"username\" : \"agomez\",\n  \"email\" : \"agomez@example.com\",\n  \"password_hash\" : \"hashed_pwd_018\",\n  \"first_name\" : null,\n  \"last_name\" : \"Gomez\",\n  \"date_of_birth\" : 2004,\n  \"created_at\" : 1752485504946666700,\n  \"updated_at\" : 1752485504946666700,\n  \"is_active\" : false\n} ]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"59d920b6-f958-39fa-87c9-e35cb787b120","instanceIdentifier":"1cb64316-0198-1000-2829-9b301a9a6702","name":"ScriptedTransformRecord","comments":"","position":{"x":1639.9141138251946,"y":454.5914992284805},"type":"org.apache.nifi.processors.script.ScriptedTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"record[\"created_at\"]=\"TEST\"\nreturn record","Record Writer":"7d85e2d5-04cb-3bad-9880-d15013ea83df","Record Reader":"af355a9c-0555-3201-9dbe-99e20417d7fb","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Language","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"731b898f-155f-3b71-9d83-052a90dfc2cc","instanceIdentifier":"0e3e821a-0198-1000-8f3a-075c28a4b53b","name":"UpdateAttribute","comments":"","position":{"x":1016.0,"y":416.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","statement.type":"${op:equals('c'):ifElse('INSERT', ${op:equals('r'):ifElse('INSERT', ${op:equals('u'):ifElse('UPDATE', 'DELETE')})})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"statement.type":{"name":"statement.type","displayName":"statement.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"annotationData":"<criteria>\n    <flowFilePolicy>USE_ORIGINAL</flowFilePolicy>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5ce70d2f-bb8a-3a15-abd9-750cf16c3b15","instanceIdentifier":"0df888eb-0198-1000-7ac0-dc6ee33db2c3","name":"","source":{"id":"92d9631f-1dcf-3506-9b38-925215e4b3ed","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"090a2ef1-0198-1000-0a6b-fc9c0e670efe"},"destination":{"id":"665be549-d6bb-3845-b96c-29fca4295507","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0df859ef-0198-1000-9380-a928e81349e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"aef1cbe2-1e9e-35e9-9392-4ac385eccadc","instanceIdentifier":"132ffa15-0198-1000-e07e-8ff6c93a947d","name":"","source":{"id":"665be549-d6bb-3845-b96c-29fca4295507","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0df859ef-0198-1000-9380-a928e81349e5"},"destination":{"id":"8700766a-a18d-3f6e-8d7b-d02e35ea893c","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"132fde01-0198-1000-4491-2b759ed3a9b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"a0ca4065-c55e-368d-bc3e-3c9bd0b524fa","instanceIdentifier":"0dddb71f-0198-1000-78ec-f758315633ab","name":"","source":{"id":"92d9631f-1dcf-3506-9b38-925215e4b3ed","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"090a2ef1-0198-1000-0a6b-fc9c0e670efe"},"destination":{"id":"640843a8-a212-39df-b4cb-e91b6370d8ed","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"CalculateRecordStats","comments":"","instanceIdentifier":"0ddd9c5a-0198-1000-80de-428eea324928"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"8e398716-7c95-34dc-b27d-dd72dc8015f8","instanceIdentifier":"1d70f9fe-0198-1000-ca0a-7aa1f15b3cd0","name":"","source":{"id":"790c783e-d170-3fc5-b4a2-b7bf0f2761a4","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1d70c6fa-0198-1000-7b97-93e8658e428c"},"destination":{"id":"59d920b6-f958-39fa-87c9-e35cb787b120","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"ScriptedTransformRecord","comments":"","instanceIdentifier":"1cb64316-0198-1000-2829-9b301a9a6702"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"cadaea76-274e-3804-b89f-0ace3fe6e275","instanceIdentifier":"13300d48-0198-1000-0dc4-e322629b7d97","name":"","source":{"id":"8700766a-a18d-3f6e-8d7b-d02e35ea893c","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"132fde01-0198-1000-4491-2b759ed3a9b2"},"destination":{"id":"731b898f-155f-3b71-9d83-052a90dfc2cc","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e3e821a-0198-1000-8f3a-075c28a4b53b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"d78d5ace-95be-31aa-b304-74a6b247859e","instanceIdentifier":"1cb69325-0198-1000-4ba0-e8688dec2adc","name":"","source":{"id":"59d920b6-f958-39fa-87c9-e35cb787b120","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"ScriptedTransformRecord","comments":"","instanceIdentifier":"1cb64316-0198-1000-2829-9b301a9a6702"},"destination":{"id":"88d79783-e4fb-333c-8d44-bea7cda78bcb","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0deb1ca6-0198-1000-26f3-a0a9e9247834"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"093cf438-85ab-37e7-9a28-84c4f29bed91","instanceIdentifier":"13461639-0198-1000-72f9-f5be7a4cb25b","name":"","source":{"id":"731b898f-155f-3b71-9d83-052a90dfc2cc","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e3e821a-0198-1000-8f3a-075c28a4b53b"},"destination":{"id":"06f09bdd-bfe2-3861-8883-b4613969b6ed","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"JoltTransformJSON","comments":"","instanceIdentifier":"1345cc72-0198-1000-351e-fd43c042e27e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"b48b790e-a8cc-34da-a011-4c35effc6cd2","instanceIdentifier":"1cb6827c-0198-1000-a045-e746a1a03df7","name":"","source":{"id":"06f09bdd-bfe2-3861-8883-b4613969b6ed","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"JoltTransformJSON","comments":"","instanceIdentifier":"1345cc72-0198-1000-351e-fd43c042e27e"},"destination":{"id":"59d920b6-f958-39fa-87c9-e35cb787b120","type":"PROCESSOR","groupId":"0abcda57-20f2-38fd-83db-90a6266cffce","name":"ScriptedTransformRecord","comments":"","instanceIdentifier":"1cb64316-0198-1000-2829-9b301a9a6702"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"853f20cb-8a1a-3c45-b7a2-c9c9059c3316","instanceIdentifier":"0ddf25fa-0198-1000-9fe3-ed47ad551140","name":"CSVRecordSetWriter","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"7d85e2d5-04cb-3bad-9880-d15013ea83df","instanceIdentifier":"0e016bc8-0198-1000-1664-edb8ea686d4a","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"f4e8b030-ae05-3c45-987c-b9f7f7a0d996","instanceIdentifier":"0df352b2-0198-1000-c309-8a442361be07","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1","Database Connection URL":"jdbc:sqlserver://mssql:1433;databaseName=kidok;encrypt=true;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/lib/jdbc/mssql-jdbc-12.10.1.jre8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"},{"identifier":"af355a9c-0555-3201-9dbe-99e20417d7fb","instanceIdentifier":"0ddee00c-0198-1000-e7d4-bac3b444fa61","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0abcda57-20f2-38fd-83db-90a6266cffce"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}